
/*메인*/
.main {
  padding-top: 54px;
}

/*컨테이너*/
.main .container {
  padding-top: 30px;
  width: 935px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.main .container .story-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.main .container .story-list .story-list__item {
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

/*리스트 아이템 헤더부분*/
.main .container .story-list .story-list__item .sl__item__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

/*리스트 아이템 헤더 div*/
.main .container .story-list .story-list__item .sl__item__header div {
  margin-left: 10px;
}

/* 게시물 이미지 박스*/
.main .container .story-list .story-list__item .sl__item__img {
  height: 600px;
  min-height: 300px;
}

/* 게시물 이미지*/
.main .container .story-list .story-list__item .sl__item__img img {
  width: 100%;
  height: 100%;
}

/* 게시물 이미지 밑에 영역들 */
.main .container .story-list .story-list__item .sl__item__contents {
  display: flex;
  flex-direction: column;
}


/*게시물 내용*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__content {
  padding: 5px 15px;
}



/*코멘트 = 댓글 */
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
  .sl__item__contents__comment
  {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  padding: 0 15px;
  margin-bottom: 5px;
}

/*댓글 삭제버튼*/
.main
  .container
  .story-list
  .story-list__item
  .sl__item__contents
.sl__item__contents__comment button{ border: none; outline: none; background: #fff; cursor: pointer;}

/* 댓글 입력창*/
.main .container .story-list .story-list__item .sl__item__input {
  display: flex;
  border-top: 1px solid #dbdbdb;
}

/*입력 인풋*/
.sl__item__input input {
  flex: 9;
  height: 56px;
  border: 0;
  padding-left: 15px;
}

/* 입력하기 버튼 */
.sl__item__input button {
  flex: 1;
  height: 56px;
  border: 0;
  background-color: transparent;
  font-weight: 500;
  color: #0095f6;
  font-size: 14px;
  cursor: pointer;
}

/* Event */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
  
  .header {
    height: 54px;
    background: #fff;
    width: 100%;
    border: 1px solid gainsboro;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    margin: 0 auto;
    height: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 120px;
  }
  
  .navi > .navi-list {
    display: flex;
  }
  .navi > .navi-list .navi-item {
    flex: 1;
    text-align: center;
    margin: 0 15px;
    display: flex;
  }
  .navi > .navi-list .navi-item a i {
    font-size: 22px;
    color: #808080;
    margin-top: 4px;
  }
  
  @media screen and (max-width: 935px) {
    .header .container {
      width: 100%;
    }
  }
  

 .sl__item__input:hover #have {
 	background-color: #E2E2E2;
 }
  

.modal-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-info .modal {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.modal-info .modal button {
  border: 0;
  background-color: transparent;
  height: 48px;
  cursor: pointer;
}

.modal-info .modal button:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
 
.modal-info .modal button:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}
.modal-info .modal button {
    border: 0;
    background-color: transparent;
    height: 48px;
    cursor: pointer;
} 

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
