@charset "UTF-8";

.visitor_title{
    display: flex;
    padding: 10px 10px;
    font-size: 13px;
    background-color: #ffd77b;
}

#writeImage{
    width: 100px;
    height: 100px;
}
.ranimage {
	width: 100px;
    height: 100px;
}
.visitor_content{ margin: 10px;}
td{border-color: white; padding: 1px;}

.minimi-border{border: 1px solid rgb(187, 187, 187); width: 100px;}
#deleteBtn{width:90px; height:30px; color: white; font-weight:bold; background:#fce29e; border:none; border-radius: 10px; cursor: pointer;}

hr {
  background-color: #fff;
  padding: 0;
  margin: 40px;
}


hr.hr-2 {
  border: 0;
  border-bottom: 2px dashed #eee;
  background: rgb(255, 198, 165);
}
#writeVisit {
  width: 350px; 
  height: 150px;
  border:2px solid rgb(255, 221, 184); 
  border-radius: 10px; 
  resize: none;}

#writeVisit:hover{
  border:3px solid rgb(255, 150, 52); 
  border-radius: 10px; 
  resize: none;
  }
.menu-item{cursor:pointer;}
#submitVisit{
	color:orange;
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(255, 240, 154, 0.237);
    text-decoration: none;
    font-weight: 500;
    transition: 0.25s;
    width: 70px;}
#submitVisit:active {
    transform: scale(1.5);
}
#submitVisit:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/**방명록 리스트*/
#visitContent {
  width: 350px; 
  height: 150px;
  border:2px solid rgb(255, 221, 184); 
  border-radius: 10px; 
  resize: none;}

#visitContent:hover{
  border:3px solid rgb(255, 150, 52); 
  border-radius: 10px; 
  resize: none;
  }
  
  
.main {
  margin: 0 5px;
  border: 2px solid #bfbfc8;
  border-radius: 15px;
  width: 645px;
  height: 480px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  position: relative;
  background-color: #fff;
  z-index: 2;
}

.fa-heart{color: rgb(248, 59, 90); height: 15px; width: 15px;}




.writeCard {
    width: 400px; height: 150px;
    border: 1px dashed rgb(127, 103, 81); border-radius: 10px;
    
}
#homepage{color:rgb(255, 86, 24)}
/**좋아요*/
#btnh{font-size: 25px; cursor: pointer;}

/** 버튼 반짝이*/
.side1 { top: 200px; left: 400px; }
.side2 { top: 240px; left: 400px; }
.side3 { top: 500px; left: 400px; }
.side4 { top: 540px; left: 400px; }

.menu a {
  color: rgba(255, 255, 255, 0.8);
  /* font-family: tahoma; */
  /* font-size: 17pt;
  font-weight: 400; */
  /* padding: 15px 25px; */
  /**/
  /* position: relative; */
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}


.SMN_effect-68 a:hover{
  animation: blur-a 3s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur-a {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}


