    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
.main {
  margin: 0 5px;
  border: 2px solid #bfbfc8;
  border-radius: 15px;
  width: 645px;
  height: 480px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  position: relative;
  background-color: #fff;
  z-index: 2;
}
.menu-item{cursor:pointer;}
body{font-family: 'Gowun Dodum', sans-serif;cursor: url(cursor.cur), auto}
table {
  border: 1px #a39485 solid;
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin-top: -5px;
}
th {
  text-align: left;
}
  
thead {
  font-weight: bold;	color: #fff;	background: #facf64;
}
  
 td, th {
  padding: 1em .5em;	vertical-align: middle;
}
  
 td {
  border-bottom: 1px solid rgba(0,0,0,.1);	background: #fff;
}

a {
  color: #73685d;
}


hr.hrB {
        border: 0;
        border-bottom: 3px solid rgb(255, 184, 149);
        background: rgb(255, 185, 21);
        padding-top: -15px;
        margin: 5px;
        }
        .fa-hand-holding-heart{font-size: 60px; color: rgb(255, 207, 162); text-align: center;}
        .fa-hand-holding-heart:hover{font-size: 70px; color: rgb(255, 91, 21);}
        #good{text-align: center;}


.fa-circle-up{font-size:25px; color:#FFAA40; }
.fa-circle-down{font-size:25px; color:#FFAA40; }
.scrollbar{text-align:right;}
.fa-comment-dots{font-size:25px; color:#FFAA40; }

/** 게시글 쓰기 */

#boardContent {width: 540px; height: 450px; resize:none; border: 3px solid #facf64; border-radius: 7px; margin: 20px;}
#boardContent:hover{border-color: rgb(255, 183, 0);}
#category{background-color: #facf64; border-radius: 7px;}
#boardTitle{border-style: none;}

 /** 게시글 쓰기 버튼 */
 .btnOrange.btnBorder {
  box-shadow: 0px 0px 0px 0px #f59619;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  }
  .btnOrange {
  background: #facf64;
  }
  .btnOrange.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #f59619;
  }
  #writeButton{display: block; margin: auto;text-align: center;} 
  .button{cursor:pointer;}
/** 버튼 반짝이*/
.side1 { top: 200px; left: 400px; }
.side2 { top: 240px; left: 423px; }
.side3 { top: 500px; left: 423px; }
.side4 { top: 540px; left: 423px; }

.menu a {
  color: rgba(255, 255, 255, 0.8);
  /* font-family: tahoma; */
  /* font-size: 17pt;
  font-weight: 400; */
  /* padding: 15px 25px; */
  /**/
  /* position: relative; */
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}


.SMN_effect-68 a:hover{
  animation: blur-a 3s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur-a {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}