<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResultSet">
		 <id column="BOARDNO" property="boardNo"/>
		 <result column="BOARD_TITLE" property="boardTitle" />
		 <result column="BOARD_CONTENT" property="boardContent" />
		 <result column="NICKNAME" property="nickName" />
		 <result column="BOARD_CATENAME" property="category" />
		 <result column="CREATE_DATE" property="createDate" />
		 <result column="MODIFY_DATE" property="modifyDate" />
		 <result column="BOARD_COUNT" property="boardCount" />
		 <result column="BOARD_STATUS" property="boardStatus" />
		 <result column="BOARD_WRITER" property="boardWriter" />
		 <result column="BOARD_CATEID" property="boardCateId" />
		 <result column="OWN" property="own"/>
	 </resultMap>
	 
	 <resultMap type="Reply" id="replyResultSet">
		 <id column="REPLYNO" property="replyNo"/>
		 <result column="REPLY_CONTENT" property="replyContent" />
		 <result column="NICKNAME" property="nickName" />
		 <result column="R_CREATEDATE" property="rCreateDate" />
		 <result column="R_MODIFYDATE" property="rModifyDate" />
		 <result column="REPLY_STATUS" property="replyStatus" />
		 <result column="REPLY_WRITER" property="replyWriter" />
		 <result column="REF_BOARDNO" property="rboardNo" />
	 </resultMap>
	 
	<select id="getBoardListCount" resultType="_int">
		select count(*) from board where board_status = 'Y' and own = #{own}
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet" parameterType="long">
		select * from board
		join member on(board_writer = userno)
		where board_status = 'Y' and own = #{own}
		order by boardNo desc 
	</select>
	
	<insert id="insertBoard">
		insert into board values(BOARD_SEQ.nextval, #{boardTitle}, #{boardContent}, sysdate, sysdate, default, default, #{boardWriter}, #{boardCateId}, #{own})
	</insert>
	
	<update id="boardCount">
		update board 
		set board_count = board_count + 1 
		where boardNo = #{bNo}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select * from board
		join member on(board_writer = userno)
		join boardcate using(board_cateid)
		where board_status = 'Y' and boardNo = #{bNo}
	</select>
	
	
	<select id="getSearchListCount" parameterType="map" resultType="_int">
		select count(*) from board b
						join member on(board_writer = userno)
		where board_status = 'Y' and own = #{own}
		<if test="condition == 'writer'">
			and nickname like '%' || #{value} || '%'
		</if>
		<if test="condition == 'title'">
			and board_title like '%' || #{value} || '%'
		</if>
		<if test="condition == 'content'">
			and board_content like '%' || #{value} || '%'
		</if>
	</select>
	
	<select id="selectSearchList" parameterType="hashmap" resultMap="boardResultSet">
		select * from board
					join member on(board_writer = userno)
		where board_status = 'Y' and own = #{own}
		<choose>
			<when test="condition == 'writer'">
				and nickname like '%' || #{value} || '%'
			</when>
			<when test="condition == 'title'">
				and board_title like '%' || #{value} || '%'
			</when>
			<otherwise>
				and board_content like '%' || #{value} || '%'
			</otherwise>
		</choose>
		order by boardNo desc
	</select>
	
	<update id="updateBoard">
		update board
		set board_title = #{boardTitle}, board_content = #{boardContent}, modify_date = sysdate 
		where boardNo = #{boardNo}
	</update>
	
	<update id="deleteBoard">
		update board
		set board_status = 'N'
		where boardNo = #{bNo}
	</update>
	
	<select id="selectReply" resultMap="replyResultSet">
		select * from reply
		join member on(reply_writer = userno)
		where ref_boardNo = #{bNo} and reply_status = 'Y'
		order by replyno desc
	</select>
	
	<insert id="insertReply">
		insert into reply 
		values(REPLY_SEQ.nextval, #{replyContent}, sysdate, sysdate, default, #{replyWriter}, #{rboardNo})
	</insert>
	
	<update id="deleteReply">
		update Reply
		set reply_status = 'N'
		where replyNo = #{rNo}
	</update>
	
	<select id="likeCheck" resultType="_int">
		select count(*) from likes
		where likeboardNo = #{likeBoardNo} and
		likeuserNo = #{likeUserNo}
	</select>
	
	<insert id="likeInsert" parameterType="Like">
		insert into likes
		values(#{likeBoardNo}, #{likeUserNo})
	</insert>
	
	<delete id="likeDelete">
		delete from likes
		where likeboardNo = #{likeBoardNo} and likeUserNo = #{likeUserNo}
	</delete>
	
	<select id="likeCount" resultType="_int">
		select count(*) from likes
		where likeboardNo = #{bNo}
	</select>
</mapper>