<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="friendMapper">
	<select id="getFriendListCount" resultType="_int">
		select count(*)
		from friends
		where FRIENDSTATUS = 'Y'
	</select>

	<select id="selectFriendList" resultMap="memberResultSet">
		select m.userno, m.username, m.userpwd, m.nickname, m.enrolldate, m.modifydate, m.status, m.orange, m.role, m.provider, m.providerid
    	from member m
        	join friends on (friends.userNo3 = m.userNo)
    	where userNo2 = #{userNo} and friends.friendstatus = 'Y'
    	order by friends.friendNo desc
	</select>
	
	<resultMap type="Friends" id="friendsResultMap">
		<id column="FRIENDNO" property="friendNo"/>
		<result column="FRIENDSTATUS" property="friendStatus"/>
		<result column="USERNO2" property="userNo2"/>
		<result column="USERNO3" property="userNo3"/>		
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
	    <id column="USERNO" property="userNo"/>
	    <result column="USERNAME" property="username"/>
	    <result column="USERPWD" property="password"/>
	    <result column="NICKNAME" property="nickName"/>
        <result column="ENROLLDATE" property="enrollDate"/>
	    <result column="MODIFYDATE" property="modifyDate"/>
	    <result column="STATUS" property="status"/>
	    <result column="ORANGE" property="orange"/>
	    <result column="ROLE" property="role"/>
	    <result column="PROVIDER" property="provider"/>
	    <result column="PROVIDERID" property="providerId"/>
   </resultMap>

</mapper>