<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
   <resultMap type="Member" id="memberResultSet">
      <id column="USERNO" property="userNo"/>
      <result column="USERNAME" property="username"/>
      <result column="USERPWD" property="password"/>
      <result column="NICKNAME" property="nickName"/>
      <result column="ENROLLDATE" property="enrollDate"/>
      <result column="MODIFYDATE" property="modifyDate"/>
      <result column="STATUS" property="status"/>
      <result column="ORANGE" property="orange"/>
      <result column="ROLE" property="role"/>
      <result column="PROVIDER" property="provider"/>
      <result column="PROVIDERID" property="providerId"/>
      <result column="EMAIL" property="email"/>
   </resultMap>

   <insert id="registerMember">
			insert into Member
			values(MEMBER_SEQ.nextval,#{username},#{password},#{nickName},sysdate,sysdate,#{status},#{orange},#{role},#{provider},#{providerId},#{email})
	</insert>
   
   <select id="findUser" resultMap="memberResultSet" parameterType="string">
   	select *
   	from member
   	where username = #{username} and status = 'Y'
   </select>
   
   <select id="checkId" resultType="_int">
   	select count(*)
   	from member
   	where status='Y' and username=#{username}
   </select>
   
    <select id="checkNickname" resultType="_int">
   	select count(*)
   	from member
   	where status='Y' and NICKNAME=#{nickname}
   </select>
   
   <update id="updateNickname">
   		update Member
   		set nickname = #{nickname}
   		where userNo=#{userNo}
   </update>
   
   <update id="updatePassword">
   		update Member
   		set userpwd = #{password}
   		where username = #{username}
   </update>
   
   <select id="searchIdFormEmail" resultType="string">
   	select username
   	from member
   	where status='Y' and email=#{email}
   </select>
   
   <update id="deleteMember">
   		update Member
   		set status = 'N'
   		where userNo = #{userNo}
   </update>
   
      
   <select id="getFriendList" resultMap="memberResultSet">
   	select m.userno, m.username, m.userpwd, m.nickname, m.enrolldate, m.modifydate, m.status, m.orange, m.role, m.provider, m.providerid, m.email
    	from member m
        	join friends on (friends.userNo3 = m.userNo)
    	where userNo2 = #{userNo} and friends.friendstatus = 'Y'
   </select>
   
   
   	<resultMap type="Friends" id="friendsResultMap">
		<id column="FRIENDNO" property="friendNo"/>
		<result column="FRIENDSTATUS" property="friendStatus"/>
		<result column="USERNO2" property="userNo2"/>
		<result column="USERNO3" property="userNo3"/>		
	</resultMap>
	
	<select id="findNickname" resultType="string" parameterType="long">
   	select nickname
   	from member
   	where status='Y' and userno=#{userNo}
   </select>
	
   
   
   
</mapper>