<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
   <resultMap type="Member" id="memberResultSet">
      <id column="USERNO" property="userNo"/>
      <result column="USERNAME" property="username"/>
      <result column="USERPWD" property="password"/>
      <result column="NICKNAME" property="nickName"/>
      <result column="ENROLLDATE" property="enrollDate"/>
      <result column="MODIFYDATE" property="modifyDate"/>
      <result column="STATUS" property="status"/>
      <result column="ORANGE" property="orange"/>
      <result column="ROLE" property="role"/>
      <result column="PROVIDER" property="provider"/>
      <result column="PROVIDERID" property="providerId"/>
   </resultMap>

   <insert id="registerMember">
			insert into Member
			values(MEMBER_SEQ.nextval,#{username},#{password},#{nickName},sysdate,sysdate,#{status},#{orange},#{role},#{provider},#{providerId})
	</insert>
   
   <select id="findUser" resultMap="memberResultSet" parameterType="string">
   	select *
   	from member
   	where username = #{username} and status = 'Y'
   </select>
   
   <select id="checkUser" resultType="_int">
   	select count(*)
   	from member
   	where status='Y'
   </select>
   
   
</mapper>