<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mReplyMapper">
  
<!--     <resultMap type="mReply" id="mReplyResultSet">
		 <id column="REPLYNO" property="replyNo"/>
		 <result column="REPLY_CONTENT" property="replyContent" />
		 <result column="REPLY_CREATEDATE" property="mCreateDate" />
		 <result column="REPLY_MODIFYDATE" property="mrModifyDate" />
		 <result column="REPLY_WRITER" property="replyWriter" />
		 <result column="REF_BOARD_TYPEID" property="category" />
		 <result column="REPLY_STATUS" property="mReplyStatus" />
닉네임 컨텐트 바꾸기
	 </resultMap> -->
   
<!--    	<insert id="insertReply">
   		insert into reply
	 	values(REPLY_SEQ.nextval, #{content}, sysdate, sysdate, default, #{userNo},#{boardNo})
   	</insert> -->
<!--    
   <update id="deleteReply">
   		update reply
   		set reply_Status = 'N'
   		where REPLYNO = #{replyNo}
   </update>
   
   <select id="selectReply" resultMap="replyResultSet">
 		 select * 
	 	from reply r
        join member m on(reply_writer = userNo)
	 	where REF_BOARDNO = #{boardNo} and reply_status = 'Y'
	 	order by REPLYNO desc
   </select>
   
    -->
   
   
   
</mapper>