<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">
	<select id="getPayListCount" resultType="_int">
		select count(*)
		from product
		where PRODUCTSTATUS = 'Y'
	</select>
   
   <select id="selectProductList" resultMap="productResultSet">
   		select *
   		from product
   			join member using(USERNO)
   		where PRODUCTSTATUS = 'Y'
   		order by PRODUCTNO desc
   </select>
   
   <select id="selectAttmList" resultMap="productPhotoResultSet">
   		select *
   		from productPhoto
   			join product using(PRODUCTNO)
   		where PRODUCTSTATUS = 'Y'
   </select>
	
	<insert id="insertBoard">
		insert into product
		values(y2k_product_seq.nextval, #{productName}, #{price}, #{productContent}, sysdate, sysdate, default, #{userNo})
	</insert>
	
	<insert id="insertPurchaes">
		insert into productPhoto
		values(y2k_productPhoto_seq.nextval, #{productPhotoName}, #{productReNameName}, #{productPhotoPath}, default, y2k_product_seq.currval)
	</insert>
	
	<update id="deletePurchaes">
		update product
		set PRODUCTSTATUS = 'N'
		where productNo = #{pNo}
	</update>
	
	<update id="deleteProductPhoto">
		update productPhoto
		set PRODUCTPHOTOSTATUS = 'N'
		where productNo = #{pNo}
	</update>
	
	<select id="detailPurchaes" resultMap="productResultSet">
		select *
		from product
		where PRODUCTSTATUS = 'Y' and productNo = #{pNo}
	</select>
	
	<select id="selectPhoto" resultMap="productPhotoResultSet">
		select *
		from productPhoto
		where PRODUCTPHOTOSTATUS = 'Y' and productNo = #{pNo}
	</select>
	
	<update id="orderPurchaes">
		update member
		set ORANGE = ORANGE - #{price}
		where USERNO = #{mNo}
	</update>
	
	<select id="getOrangeCount" resultType="_int">
		select orange
		from member
		where userNo = #{mNo}
	</select>
	
	<select id="selectLoginUser" resultMap="memberResultSet">
		select *
		from member
		where userNo = #{mNo}
	</select>
	
	<update id="paymentRequest">
		update member
		set ORANGE = ORANGE + 100
		where USERNO = #{mNo}
	</update>
	
	<update id="paymentRequest2">
		update member
		set ORANGE = ORANGE + 300
		where USERNO = #{mNo}
	</update>
	
	<update id="paymentRequest3">
		update member
		set ORANGE = ORANGE + 500
		where USERNO = #{mNo}
	</update>
	
	<insert id="paymentInsert">
		insert into payment
		values(#{paymentNo}, sysdate, default, #{userNo}, #{paymentPrice}, #{paymentName})
	</insert>
	
	<update id="mainSkinUpdate">
		update skin
		set skinStatus = 'Y'
		where skinKoreaName = #{productPhotoName} and skinUserNo = #{mNo}
	</update>
	
	<select id="checkSkinHistory" resultType="_int">
		select count(skinStatus)
		from skin
		where skinKoreaName = #{productPhotoName} and skinUserNo = #{mNo} and skinStatus = 'Y'
	</select>
	
	<resultMap type="ProductPhoto" id="productPhotoResultSet">
   		<id column="PRODUCTPHOTONO" property="productPhotoNo"/>
		<result column="PRODUCTPHOTONAME" property="productPhotoName"/>
		<result column="PRODUCTRENAMENAME" property="productReNameName"/>
		<result column="PRODUCTPHOTOPATH" property="productPhotoPath"/>		
		<result column="PRODUCTPHOTOSTATUS" property="productPhotoStatus"/>
		<result column="PRODUCTNO" property="productNo"/>
   </resultMap>
   
   <resultMap type="Product" id="productResultSet">
		<id column="PRODUCTNO" property="productNo"/>
		<result column="PRODUCTNAME" property="productName"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCTCONTENT" property="productContent"/>		
		<result column="USERNO" property="userNo"/>
		<result column="PRODUCTCREATEDATE" property="productCreateDate"/>
		<result column="PRODUCTMODIFYDATE" property="productModifyDate"/>
		<result column="PRODUCTSTATUS" property="productStatus"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
	    <id column="USERNO" property="userNo"/>
	    <result column="USERNAME" property="username"/>
	    <result column="USERPWD" property="password"/>
	    <result column="NICKNAME" property="nickName"/>
        <result column="ENROLLDATE" property="enrollDate"/>
	    <result column="MODIFYDATE" property="modifyDate"/>
	    <result column="STATUS" property="status"/>
	    <result column="ORANGE" property="orange"/>
	    <result column="ROLE" property="role"/>
	    <result column="PROVIDER" property="provider"/>
	    <result column="PROVIDERID" property="providerId"/>
   </resultMap>
   
   <resultMap type="Skin" id="skinResultSet">
      <result column="SKINNAME" property="skinName"/>
      <result column="SKINSTATUS" property="skinStatus"/>
      <result column="SKINUSERNO" property="skinUserNo"/>
      <result column="SKINKOREANAME" property="skinKoreaName"/>
   </resultMap>
</mapper>