<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="photoMapper">
  
   <resultMap type="Photo" id="photoResultSet">
      <id column="BOARDNO" property="boardNo"/>
      <result column="PHOTONAME" property="photoName"/>
      <result column="RENAMENAME" property="renameName"/>
      <result column="PHOTOPATH" property="photoPath"/>
      <result column="PHOTOSTATUS" property="photoStatus"/>
      <result column="PHOTOCOMENT" property="photoComent"/>
      <result column="USERNO" property="userNo"/>
      <result column="OWN" property="own"/>
      
   </resultMap>

   <resultMap type="Reply" id="replyResultSet">
		 <id column="REPLYNO" property="replyNo"/>
		 <result column="REPLY_CONTENT" property="replyContent" />
		 <result column="NICKNAME" property="nickName" />
		 <result column="R_CREATEDATE" property="rCreateDate" />
		 <result column="R_MODIFYDATE" property="rModifyDate" />
		 <result column="REPLY_STATUS" property="replyStatus" />
		 <result column="REPLY_WRITER" property="replyWriter" />
		 <result column="REF_BOARDNO" property="rboardNo" />
	 </resultMap>

	<resultMap type="Board" id="boardResultSet">
		 <id column="BOARDNO" property="boardNo"/>
		 <result column="BOARD_TITLE" property="boardTitle" />
		 <result column="BOARD_CONTENT" property="boardContent" />
		 <result column="NICKNAME" property="nickName" />
		 <result column="BOARD_CATENAME" property="category" />
		 <result column="CREATE_DATE" property="createDate" />
		 <result column="MODIFY_DATE" property="modifyDate" />
		 <result column="BOARD_COUNT" property="boardCount" />
		 <result column="BOARD_STATUS" property="boardStatus" />
		 <result column="BOARD_WRITER" property="boardWriter" />
		 <result column="BOARD_CATEID" property="boardCateId" />
	 </resultMap>
	 
   <insert id="insertPhoto">
		INSERT INTO photo
		VALUES(BOARD_SEQ.nextval, #{photoName}, #{renameName}, #{photoPath}, default, #{photoComent}, #{userNo}, #{userNo})
	</insert>
   
   <select id="selectPhotoList" resultMap="photoResultSet">
   		select *
   		from photo
   		where photoStatus = 'Y' and own=#{userNo}
   		order by boardNo desc
   </select>
   
   <select id="selectPhoto" resultMap="photoResultSet">
   		select *
   		from photo
   		join member using(userNo)
   		where photoStatus = 'Y'  and boardNo =  #{boardNo}
   		
   </select>
   
   <!--         select *
   		from photo
        join member using(userno)
   		where photoStatus = 'Y'  and boardNo =  22-->
   
   <update id="deletePhoto">
   		update photo
		set photoStatus = 'N'
		where boardNo = #{boardNo}

   </update>
   
   <update id="updateComent">
   		update photo
   		set photoComent = #{photoComent}
   		where boardNo = #{boardNo}		
   
   </update>
   
   <update id="updateAll">
   		update photo
   		set photoName = #{photoName},
   				renameName = #{renameName},
   				photoPath = #{photoPath},
   				photoComent = #{photoComent}
   				
   		where boardNo = #{boardNo}
   </update>
    

   
   	<!-- <insert id="insertPreply">
   		insert into reply
	 	values(REPLY_SEQ.nextval, #{replyContent}, #{nickName}, sysdate, sysdate, default, #{boardNo})
   	</insert> -->
   
   <select id="selectReply" resultMap="replyResultSet">
	 	select * 
	 	from reply r
        join member m on(reply_writer = userNo)
	 	where REF_BOARDNO = #{boardNo} and reply_status = 'Y'
	 	order by REPLYNO desc
	 </select>
<!-- 	 
	select nickname m , reply_content r
	 	from member m
            join photo p using(userno)
	 		join reply r on(boardNo =REF_BOARDNO) 
	 	where REF_BOARDNO = #{boardNo} and reply_status = 'Y'
	 	order by REPLYNO desc -->

   
   
</mapper>